<!DOCTYPE html>
<html>
<head>
	<title>Brunel Planner</title>
	<link rel="stylesheet" type="text/css" href="https://necolas.github.io/normalize.css/5.0.0/normalize.css">
	<link rel="stylesheet" href="css/devices.min.css">
	<link rel="stylesheet" href="css/main.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
	<div class="main">
		<div class="phone">
			<div class="marvel-device nexus5">
				<div class="top-bar"></div>
				<div class="sleep"></div>
				<div class="volume"></div>
				<div class="camera"></div>
				<div class="screen">
					<video autoplay loop>
						<source src="" type="video/mp4">
							Your browser does not support the video tag. :C
						</video>
					</div>
				</div>
			</div>
			<div class="cards">
				<div class="card">
					<!-- <p>small logo on the left here</p> -->
					<h1>Brunel Planner</h1>
				</div>
				<div class="card">
					<p>Short description</p>
					<p>Link to apk</p>
					<p>Link to github</p>
				</div>
				<div class="card">
					<h3>Features</h3>
					<div class="fragments">
						<div class="item">
							<a href="#" class="active"><i class="material-icons max">date_range</i>
							<br>Timetable</a>
						</div>
						<div class="item">
							<a href="#"><i class="material-icons max">event</i>
							<br>Events</a>
						</div>
						<div class="item">
							<a href="#"><i class="material-icons max">note</i>
							<br>Notes</a>
						</div>
						<div class="item">
							<a href="#"><i class="material-icons max">map</i>
							<br>Maps</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
	</body>
</html>
