<!DOCTYPE html>
<html>
<head>
	<title>Brunel Planner</title>
	<link rel="stylesheet" type="text/css" href="https://necolas.github.io/normalize.css/5.0.0/normalize.css">
	<link rel="stylesheet" href="css/devices.min.css">
	<link rel="stylesheet" href="css/main.css">
</head>
<body>
	<div class="container">
		<div class="phone">
			<div class="marvel-device nexus5">
				<div class="top-bar"></div>
				<div class="sleep"></div>
				<div class="volume"></div>
				<div class="camera"></div>
				<div class="screen">
					<video width="320" height="240" autoplay loop>
					  <source src="assets/testing.mp4" type="video/mp4">
							Your browser does not support the video tag.
					</video>
				</div>
			</div>
		</div>
		<div class="card">
			<h1>Brunel Planner</h1>
			<p>Short description</p>
			<p>Link to apk</p>
			<p>Link to github</p>
		</div>
	</div>
</body>
</html>
